<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management</title>
</head>
<body>
    <div class="item">
        <form action=" http://127.0.0.1:5000/additem/" method = "post">
            <h1>
                Add An Item
            </h1>
            <label for="item_name">Item Name :</label>
            <input type="text" name="item_name" id="item_name">
            <input type="submit" value="Add Item">
        </form>
    </div>
    <div class="item">
        <form action=" http://127.0.0.1:5000/additem/" method = "post">
            <h1>
                Add An Item
            </h1>
            <label for="item_name">Item Name :</label>
            <input type="text" name="item_name" id="item_name">
            <input type="submit" value="Add Item">
        </form>
    </div>   
</body>
</html>